.loginContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.loginContainer > h1 {
  margin: 2.5%;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

label {
  font-size: 20px;
}

textarea {
  width: 500px;
  height: 250px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

input {
  width: 500px;
  height: 25px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
input:nth-last-child(1) {
  height: 50px;
  width: 150px;
  margin-bottom: 250px;
  border-radius: 30px;
}
